@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.header {
	background-attachment: fixed;
	background-image: url('../img/capa-madmax2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
}

.header::after {
	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
	content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-nav {
	z-index: 2;
	display: flex;
}

.header-nav .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-nav-menu {
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    margin: 0 25px;
}

.header-nav-item a, .movies-nav-menu-item a {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.profile-image {
	border-radius: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    height: 45px;
    margin-right: 15px;
    overflow: hidden;
    width: 45px;
}

.header-nav-profile {
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-image img {
	width: 100%;
    height: auto;
}

.profile-name {
	color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

.header-content {
	width: 100%;
}

.header-content .container {
    position: relative;
    z-index: 2;
}

.header-title {
    color: #fff;
    font-size: 6.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase;
}

.header-genre {
    display: flex;
    margin: 15px 0 30px;
    font-size: 13px;
}

.genre-item {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.header-nav-item a:hover, .genre-item:hover {
    color: #e4bb23;
}

.header-trailer-button {
	display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
	transition: all 0.2s ease-in-out;
	align-items: center;
}

.header-trailer-button i {
	font-size: 1.5em;
    position: absolute;
    right: 20px;
	top: 12px;
	align-items: center;
}

.header-trailer-button:hover {
    background-color: #bc9a1d;
}

.header-infos {
	padding: 20px 0;
    font-size: 1.4em;
    color: #fff;
}

.header-infos p:last-child {
    color: #bc9a1d;
}

.movies {
	background-color: #f2f2f2;
	width: 100%;
}

.movies-menu {
	width: 100%;
}

.movies-nav-menu {
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
}

.movies-nav-menu-item {
	margin: 0 20px;
}

.movies-nav-menu-item a {
	padding: 25px 0;
	display: inline-block;
	color: #e4bb23;
}

.movies-list {
	width: 100%;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

.movies-list-item {
	width: 24%;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* height: auto; */
}

.movies-list-item:hover .movie-poster-info {
	opacity: 1;
    visibility: visible;
}

.movie-poster-info {
	align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 80px 20px;
    position: absolute;
    text-align: center;
    top: -1px;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    height: calc(100% - 2px);
    z-index: 1;
}

.movie-poster-info h3 {
	color: #e4bb23;
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
}

.movie-poster-link {
	color: #fff;
    font-size: 5em;
    transition: all 0.2s ease-in-out;
}

.movie-poster {
	margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.movie-poster img{
    width: 100%;
}

.movie-sinopse {
	padding: 10px;
	width: 100%;
}

.movie-sinopse-title {
	font-size: 1.3em;
    font-weight: bold;
    margin: 0;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.movie-sinopse-genre {
	margin: 10px 0;
    display: flex;
}

.sinopse-genre-item {
	text-decoration: none;
    font-size: 1.2em;
    color: #e4bb23;
}

.sinopse-genre-item:hover {
	text-decoration: underline;
}
/* 
.sinopse-genre-item:hover:not(::after) {
	text-decoration: underline;
} */

.sinopse-genre-item::after {
	content: ",\00a0";
	text-decoration: none;
}

.sinopse-genre-item:last-child::after{
	content: "";
	text-decoration: none
}

.movie-score {
	margin: 0;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
	justify-content: space-between;
	color: #444;
}

.movie-score i {
	color: #ccc;
    cursor: pointer;
}
